@model kindergarten.Models.RegisterViewModel // 笨 Use RegisterViewModel

@{
    ViewData["Title"] = "ﾄ斉ハg kﾃｽ tﾃi kho蘯｣n";
    Layout = "_Layout"; // Use the main layout
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <h2 class="text-center mb-4 text-primary">洫ｸ ﾄ斉ハg kﾃｽ tﾃi kho蘯｣n Ph盻･ huynh & Bﾃｩ</h2>

            <form method="post" asp-action="Register">

                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                @Html.AntiForgeryToken()

                <h4 class="mb-3">Thﾃｴng tin Ph盻･ huynh</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="HoTen" class="form-label"></label>
                        <input asp-for="HoTen" class="form-control" />
                        <span asp-validation-for="HoTen" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="TenDangNhap" class="form-label"></label>
                        <input asp-for="TenDangNhap" class="form-control" />
                        <span asp-validation-for="TenDangNhap" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="SoDienThoai" class="form-label"></label>
                        <input asp-for="SoDienThoai" class="form-control" />
                        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="DiaChi" class="form-label"></label>
                        <input asp-for="DiaChi" class="form-control" />
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <hr class="my-4">

                <h4 class="mb-3">Thﾃｴng tin c盻ｧa bﾃｩ</h4>
                <div class="mb-3">
                    <label asp-for="HoTenBe" class="form-label"></label>
                    <input asp-for="HoTenBe" class="form-control" />
                    <span asp-validation-for="HoTenBe" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="NgaySinhBe" class="form-label"></label>
                        <input asp-for="NgaySinhBe" type="date" class="form-control" />
                        <span asp-validation-for="NgaySinhBe" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="GioiTinhBe" class="form-label"></label>
                        <select asp-for="GioiTinhBe" class="form-select">
                            <option value="">-- Ch盻肱 gi盻嬖 tﾃｭnh --</option>
                            <option value="Nam">Nam</option>
                            <option value="N盻ｯ">N盻ｯ</option>
                        </select>
                        <span asp-validation-for="GioiTinhBe" class="text-danger"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100 py-2 mt-3">Hoﾃn t蘯･t ﾄ斉ハg kﾃｽ</button>

                <div class="mt-4 text-center">
                    <small>ﾄ静｣ cﾃｳ tﾃi kho蘯｣n? <a asp-action="Login" asp-controller="Account">ﾄ斉ハg nh蘯ｭp ngay</a></small>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        // Enable client-side validation
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}