@{
    ViewData["Title"] = "Thông tin bé";
    Layout = "_LayoutPhuHuynh";
}

<div class="card shadow-sm border-0">
    <div class="card-body">
        <h4 class="fw-bold mb-3 text-primary"><i class="bi bi-person-fill"></i> Hồ sơ bé</h4>

        <div class="row">
            <div class="col-md-4 text-center">
                <img src="https://cdn-icons-png.flaticon.com/512/921/921071.png" class="img-fluid rounded-circle mb-3"
                    style="width: 120px;" />
                <h5 class="fw-bold">Nguyễn An</h5>
                <span class="badge bg-info">Lớp: Mầm 2</span>
            </div>

            <div class="col-md-8">
                <table class="table table-bordered align-middle">
                    <tr>
                        <th>Ngày sinh</th>
                        <td>12/05/2020</td>
                    </tr>
                    <tr>
                        <th>Giới tính</th>
                        <td>Nam</td>
                    </tr>
                    <tr>
                        <th>Giáo viên chủ nhiệm</th>
                        <td>Cô Lan</td>
                    </tr>
                    <tr>
                        <th>Phụ huynh</th>
                        <td>Phuhuynh01</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>