@{
    ViewData["Title"] = "Thông báo";
    Layout = "_LayoutPhuHuynh";
}

<h4 class="fw-bold text-primary mb-3"><i class="bi bi-bell"></i> Thông báo từ nhà trường</h4>

<div class="list-group shadow-sm">
    <a href="#" class="list-group-item list-group-item-action">
        <i class="bi bi-megaphone text-danger"></i>
        <strong>[20/10/2025]</strong> Nghỉ học do bão.
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <i class="bi bi-star text-warning"></i>
        <strong>[22/10/2025]</strong> Lễ hội Halloween cho các bé.
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <i class="bi bi-heart text-success"></i>
        <strong>[30/10/2025]</strong> Khám sức khỏe định kỳ tháng 10.
    </a>
</div>